.display-box {
  position: relative;
  z-index: 0;
  color: #224;
  background: #e8c8 radial-gradient(circle at top right, #e8c8, #88e8, #e8c8);
}
.display-box .list {
  position: absolute;
  z-index: 1;
  list-style: none;
  padding: 0.5rem;
}
.display-box .list-block {
  top: 100%;
  left: 0;
}
.display-box .list-side {
  top: 0;
  left: 100%;
}