.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: .5rem;
    padding: 1rem;
}
.social a{
    position: relative;
    width: 4rem;
    height: 4rem;
    border-radius: .5rem;
    background-color: var(--light);
    background-position: center;
    background-size: 3rem;
    background-repeat: no-repeat;
    /* Atributos de transicion */
    transition-property: all;
    transition-duration: .25s;
    transition-timing-function: linear;
    transition-delay: .2s;
}
/* Al pasar el mouse parece que se esta acercando */
.social a:hover{
    bottom: .5rem;
    background-color: #ffffff;
    background-size: 3.5rem;
    box-shadow: 0 .2rem .5rem var(--dark);
}
/* Iconos de Redes sociales */
.linkedin{
    background-image: url(../../assets/icon/linkedin.svg);
}
.github{
    background-image: url(../../assets/icon/github.svg);
}
.instagram{
    background-image: url(../../assets/icon/instagram.svg);
}
.whatsapp{
    background-image: url(../../assets/icon/whatsapp.svg);
}