body{
    counter-reset: seccion;
}
section{
    counter-increment: seccion;
    counter-reset: theme;
}
main h2::before{
    content: 'Seccion ' counter(seccion) ': ';
}
h3{
    counter-increment: theme;
}
h3::before{
    content: 'Tema ' counter(theme) ': ';
}

/* estilos tabla de contenidos */
.content-table li{
    color: var(--mar1);
}
.content-table li li{
    color: var(--mar2);
}
.content-table li li li{
    color: var(--mar5);
}