/* Botones */
.btn{
    --color: var(--dark);
    position: relative;
    /* POSICION RELATIVA: 
    el elemento se ubica dentro del FLOW, ocupando un lugar en el espacio y puede alterar su posicion, cambiando su ubicacion con respecto a si mismo.
    */
    border: none;
    color: var(--color);
    background-color: var(--bg);
}

.btn:hover{
    left: .5rem;
    top: .5rem;
    background-image: linear-gradient(
        #eeec,
        transparent
    );
}
.btn-success{
    --bg: var(--success);
}
.btn-danger{
    --bg: var(--danger);
}
.btn-info{
    --bg: var(--mar4);
}
/* Caja de fondo */
.cover{
    position: absolute;
    /* POSICION ABSOLUTA: 
    el elemento deja de formar parte del FLOW, por lo tanto no ocupa  lugar en ele espacio, pero puede establecer su ubicacion con respecto al primer ancestro que NO sea STATIC.
    */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}