.card{
    border-radius: .25rem;
    padding: 1rem;
    box-shadow: 0 0 .5rem #999;
    overflow: hidden;
    transition: all .5s ease;
}


.card-header{
    display: block;
    margin: -1rem -1rem 1rem;
    padding: 1rem;
    background: linear-gradient(
        var(--mar2),
        var(--mar5)
    )
}
/* PSEUDOCLASES: CARACTERISTICAS O INSTANCIAS DE UN ELEMENTO */
.card:hover{
    background-color: var(--light);
}

.card:first-child .card-header{ /*| Al primer titulo de las cards agregale el color tal */
    background: var(--mar2);
}

.card:nth-child(3) .card-header{ /*|Al ultimo titulo de las cards agregarle el color tal */
    background: var(--mar3);
}

.card:last-child .card-header{ /* que sea el ultimo hijo */
    background: var(--mar1);
}

/* PSEUDOELEMNTOS: PARTE O ELEMENTO DENTRO DE OTRO */
/* .card::first-letter{ | A LA PRIMERA LETRA
    font-size: 2rem;
    letter-spacing: .1rem; |separacion entre las letras
} */
.card::first-line{ /*PRIMERA LINEA*/
    color: var(--light);
    text-shadow: 
    0 0 .25rem var(--mar1),
    -.2rem .2rem .2rem var(--dark);
    font-size: 1.5rem;
}

/* .card:hover::first-line{
    A LA PRIMERA LINEA CUANDO PASO EL MOUSE SOBRE LA CARD
    background-color: blue;
} */