    #contact{
        display: flex;
        flex-direction: column;
        gap: .25rem;
        max-width: 720px;
        margin: 1rem auto;
        border-radius: .25rem;
        padding: 1.5rem;
        box-shadow: -.2rem .2rem .5rem #ccc;
        /* Gradiente: tipo (direccion o forma [opcional], colores) */
        background-image: radial-gradient(
            circle at top right,
            #a4abc3,
            #f7ccde
        );
    }
    input,
    textarea,
    select,
    button{
        padding: .5rem;
        font-size: 1rem; 
    }
    label,
    .validation{
        max-height: 0;
        overflow: hidden;
    }
    :focus + .validation{
        max-height: 1000px;
    }
    /* Validacion visual */
    :focus:valid{
        outline-color: var(--success);
    }
    :valid + .validation{
        color: var(--success);
    }
    :not(:placeholder-shown):focus:invalid{
        outline-color: var(--danger);
    }
    :not(:placeholder-shown):invalid + .validation{
        color: var(--danger);
    }
    /* Transiciones */
    input,
    textarea,
    select,
    button,
    .validation{
        transition: all .5s ease-out;
        /* transition: property duration timing-function delay */
    }