.card{
    border-radius: .25rem;
    padding: 1rem;
    box-shadow: 0 0 .5rem #999;
    overflow: hidden;
}
.card-header{
    display: block;
    margin: -1rem -1rem 1rem;
    padding: 1rem;
    background-image: linear-gradient(
        #f7a3c0,
        #f4a6a3
    );
}
/* PSEUDOCLASES: CARACTERISTICAS O INSTANCIAS DE UN ELEMENTO */
.card:hover{
    background-color: #eee;
}
/* .card:first-child .card-header{ | Al primer titulo de las cards agregale el color tal
    background-color: #a4abc3;
}
.card:last-child .card-header{ |Al ultimo titulo de las cards agregarle el color tal
    background-color: #333;
} */
/* PSEUDOELEMNTOS: PARTE O ELEMENTO DENTRO DE OTRO */
/* .card::first-letter{ | A LA PRIMERA LETRA
    font-size: 2rem;
    letter-spacing: .1rem; |separacion entre las letras
} */
.card::first-line{ /*PRIMERA LINEA*/
    color: #eee;
    text-shadow: 
    0 0 .25rem #a4abc3,
    -.2rem .2rem .2rem #333;
    font-size: 1.5rem;
}

/* .card:hover::first-line{
    A LA PRIMERA LINEA CUANDO PASO EL MOUSE SOBRE LA CARD
    background-color: blue;
} */