    /* REGLAS GENERALES */
    *{
        font-family: 'Ubuntu', 'Raleway', 'Segoe ui', sans-serif;
        scroll-behavior: smooth;
    }
    /* Margenes */
    body,
    h1,
    h2,
    h3,
    header p,
    .menu,
    #header{
        margin: 0;
    }

    /* bordes */
    iframe{
        border: 0;
    }
    
    /* Estilos */
    .menu,
    .example{
        list-style: none;
    }
    
    nav a,
    footer a{
        text-decoration: none;
    }
    /* NAVEGACION */
    .menu{
        display: flex;
        justify-content: center; /* distribucion en el EJE PRINCIPAL*/
        gap: 8px;
        padding: 8px;
        background-color: rgb(57, 57, 113);
    }
    .menu a{
        color: #eee;
    }
    .menu a.active,
    .menu a:hover{
        color: rgb(122, 122, 194);
        text-shadow: 0 0 4px; /* -x+ -y+ blur color */
    }
    /* CABECERA */
    #header{
        padding: min(20%, 240px) 16px;
        text-align: center;
        text-shadow: 0 0 3px #333;
        /* Atributos de fondo */
        background-color: rgb(57, 57, 113);
        background-image: url('../assets/osx-monterrey-dark.jpg');
        background-position: center; /* x y | top bottom right left center*/
        background-size: cover; /* w h | contain cover*/
    }

    .header{
        margin: -1rem;
        padding: 16px;
        color: #eee;
        background-color: rgb(57, 57, 113);
    }

    header{
        border-bottom: 2px solid;
        color: rgb(122, 122, 194);
    }
    /* CONTENIDO PRINCIPAL */
    main{
        max-width: 1320px;
        margin: 1rem auto; /*root EM (Ancho de "M" en la raiz HTML)*/
        padding: .5rem;
    }

    article{
        margin: 1.5rem 0;
        border-radius: .5rem;
        padding: 1rem;
        box-shadow: -.2rem .2rem .25rem #999;
        overflow: hidden;
    }

    /* Secciones de ejempo */
    .example{
        max-width: 960px;
        margin: 16px auto;
        border-left: 4px solid rgb(122, 122, 194);
        padding: 8px;
        line-height: 1.5;
        background-color: #eee;
    }

    .container{
        display: flex;
        gap: 16px;
        overflow: auto;
    }

    /* Tablas */
    th, /*encabezado de tabla*/
    td, /*celda de tabla*/
    table caption{
        padding: 8px;
    }

    table caption{
        border-radius: 8px 8px 0 0; /* topleft topright bottomright bottomleft*/
    }

    .classic{
        border-collapse: collapse;
    }

    .classic caption,
    .classic th,
    .classic td{
        border: 2px solid rgb(122, 122, 194);
    }

    .classic caption{
        border-bottom: none;
    }

    .modern,
    .modern caption,
    .modern tr,
    .modern td{
        color: #eee;
        background-color: rgb(122, 122, 194,.5);
    }

    .semantic thead{
        background-color: #c33;
    }

    .semantic tbody{
        background-color: #3c6;
    }

    .semantic tfoot{
        background-color: #248;
    }
    /* contenido multimedia */
    figure{
        min-width: min(90%, 570px);
        min-height: 320px;
        margin: 0 0 1rem;
    }

    iframe,
    video{
        width: 100%;
        height: 100%;
        min-height: 320px;
        object-fit: cover;
    }

    /* PIE DE PAGINA */

    /* FORMULARIO DE CONTACTO */
    #contact{
        display: flex;
        flex-direction: column;
        max-width: 540px;
        margin: 1rem auto;
    }

    input,
    textarea,
    select{
        padding: 8px;
        font-size: 16px;
    }

    .btn{
        margin-top: 4px;
        border-radius: 4px;
        border: 1px solid #284;  
        color: #284;
        background-color: transparent;
    }
    .btn:hover{
        color: #eee;
        background-color: #284;
    }

    /* Redes sociales */
    .social{
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        gap: .5rem;
        padding: 1rem;
    }

    .social a{
        width: 4rem;
        height: 4rem;
        border-radius: .25rem;
        background-color: #ccc;
    }
