*{
    box-sizing: border-box;
    /* EXPLICACION:
        Atributo que determina como se calculan las dimensiones de las etiquetas en la pagina web
        ej:
        .box{
            width: 300px;
            border: 2px solid;
            padding: 20px;
        }

        CONTENT-BOX (default):
            content-width  = width (300px);
            final-width    = width + padding + border (344px);
        BORDER-BOX: 
            final-width    = width (300px);
            content-width  = width - padding - border (256px);
    */
    scroll-behavior: smooth;
    font-family: 'Ubuntu', 'Raleway', 'Calibri', sans-serif;
}
/* VARIABLE */
:root{
    --light: #eee;
    --dark: #333;
    --success: #3c6;
    --danger: #c33;
    --warning: #da3;
    --info: #36c;
    --mar1: #a4abc3;
    --mar2: #f7a3c0;
    --mar3: #f4a6a3;
    --mar4: #fbe793;
    --mar5: #f7ccde;
}
/* Margenes */
body,
h1,
h2,
h3,
header p,
.menu{
    margin: 0;
}
/* bordes */
iframe{
    border: 0;
}
/* rellenos */
.list-unstyled,
.menu{
    padding: 0;
}
/* estilos */
.list-unstyled,
.menu{
    list-style: none;
}
:is(nav,.social,.example) a{
    text-decoration: none;
}