#header{
    min-height: min(100vh, 640px);
    padding: 1rem;
    /* atributo css grid */
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    /* tipografia */
    font-size: min(calc(2vw + 8rem), 3rem);
    text-shadow: 0 0 .25rem var(--dark);
    /* Esplicacion:
    min(a,b) funcion que permite al navegador determinar la medida mas pequeña
    calc(x + y) funcion que permite calcular con medidas incompatibles */
    /* atributos de fondo */
    color: #ffff;
    background-color: var(--mar2);
    background-image:
        url('../assets/bg/dev-mobile.png'),
        url('../assets/bg/dev-screen.png'),
        url('../assets/bg/dev-windows.png'),
        linear-gradient(
            var(--mar2),
            var(--mar3)
        );
    background-position: 
        bottom right,
        left center,
        50% 200%,
        center;
    background-size:
        clamp(3rem, 25%, 600px),
        clamp(3rem, 25%, 600px),
        clamp(3rem, 35%, 600px),
        cover; /*(min, tamaño, maximo)*/
    background-repeat: no-repeat;
    /* attchment */
    background-attachment: fixed;
    /* transicion */
    transition: background 5s linear .2s;
}
#header:hover{
    background-position: 
    top right,
    top left,
    center;
}