/* Small Devices (mobile) */
nav{
    /* Atributos de flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* Atributos de fondo */
    background: var(--mar4)
        linear-gradient(
            to left,
            var(--mar5),
            var(--mar1)
        );
    /* bg: color imagen position/size repeat */
    padding: 1rem;
}
nav a{
    color: var(--light);
    text-decoration: none;
    text-shadow: 0 0 .25rem var(--dark);
}
.menu{
    /* Atributos de tamaño */
    width: 100%;
    max-height: 0;
    overflow: hidden;
    /* transicion */
    transition: all .5s ease-in;
}
.menu.active,
nav:hover .menu{
    max-height: 100vh;
}
/* Medio Devices (tablet) */
@media screen and (min-width:768px){
    nav{
        flex-direction: row-reverse;
    }
    nav .btn{
        display: none;
    }
    .menu{
        display: flex;
        gap: .5rem;
        width: auto;
        max-height: 100vh; /* vh (viewport height)*/
    }
}
/* Large Devices (desktop) */
@media screen and (min-width:992px){
    nav{
        justify-content: space-around;
    }
}
/* XXL Devices (desktop full hd) */
@media screen and (min-width: 1400px){
    nav{
        padding: 1rem calc(50vw - 660px); /* vw (viewport width)*/
    }
}